const converted = {
  ".login-clean": { background: "#f1f7fc", padding: "80px 0" },
  ".login-clean form": {
    maxWidth: "320px",
    width: "90%",
    margin: "0 auto",
    backgroundColor: "#ffffff",
    padding: "40px",
    borderRadius: "4px",
    color: "#505e6c",
    boxShadow: "1px 1px 5px rgba(0,0,0,0.1)"
  },
  ".login-clean .illustration": {
    textAlign: "center",
    padding: "0 0 20px",
    fontSize: "100px",
    color: "rgb(244,71,107)"
  },
  ".login-clean form .form-control": {
    background: "#f7f9fc",
    border: "none",
    borderBottom: "1px solid #dfe7f1",
    borderRadius: "0",
    boxShadow: "none",
    outline: "none",
    color: "inherit",
    textIndent: "8px",
    height: "42px"
  },
  ".login-clean form .btn-primary": {
    background: "#f4476b",
    border: "none",
    borderRadius: "4px",
    padding: "11px",
    boxShadow: "none",
    marginTop: "26px",
    textShadow: "none",
    outline: "none !important"
  },
  ".login-clean form .btn-primary:hover, .login-clean form .btn-primary:active": {
    background: "#eb3b60"
  },
  ".login-clean form .btn-primary:active": { transform: "translateY(1px)" },
  ".login-clean form .forgot": {
    display: "block",
    textAlign: "center",
    fontSize: "12px",
    color: "#6f7a85",
    opacity: 0.9,
    textDecoration: "none"
  },
  ".login-clean form .forgot:hover, .login-clean form .forgot:active": {
    opacity: 1,
    textDecoration: "none"
  }
}
